/**
 * Button object
 *
 * [1]	Variants
 */


	/**
	  * [1]	Variants
	  *
	  * 	[a]	Button that just contains an icon
	  */
	 

		 /**
		  * [a]	Button that just contains an icon
		  */
		 

		.o-button--just-icon {
			.o-icon {
				float: left;
			}
		}





		/**
		 * [b]	Button with circular arrow icon
		 */
		

		.o-button--primary,
		%o-button--primary {
			color: #FFF;
			font-weight: bold;
			font-style: italic;
			border-radius: 3px;
			background: $blue--light;
			@include rempx(padding, 10px 16px 10px 24px);


			&:hover,
			&:focus,
			&:active {
				color: #FFF;
				background: $blue--medium;

				.o-button__icon--right { @include mangui-transform(translateX(4px)); }
			}


			.o-button__icon--left  { @include rempx(margin-right, $mangui-vertical-rhythm/3); }
			

			.o-button__icon--right {
				@include rempx(margin-left, $mangui-vertical-rhythm/3);
				@include mangui-transition(ease-in-out $transition--default all);
			}





			/**
			 * Variants
			 */
			

			&.o-button--product,
			&.o-button--positive {
				color: #FFF;
				background: $green;


				&:hover,
				&:focus,
				&:active {
					color: #FFF;
					background: $green--shade;
				}
			}





			/**
			 * Disabled styling
			 */
			
			&[disabled],
			&[disabled]:hover,
			&[disabled]:focus,
			&[disabled]:active {
				color: $grey--medium;
				background: $grey--light;
			}
		}





		/**
		 * [b]	Button with circular arrow icon
		 */
		

		.o-button--secondary {
			font-style: italic;
			color: $blue--light;
			@include rempx(font-size, 18px);


			.o-button__icon {
				@include rempx(margin-top, 3px);
			}


			.o-button__icon--right {
				@include mangui-transition(ease-in-out $transition--default all);
			}


			&:hover,
			&:focus,
			&:active {
				color: $blue--dark;


				.o-button__icon--right {
					@include mangui-transform(translateX(4px));
				}
			}
		}





		/**
		 * Forgotten password button
		 */
		
		.o-button--forgotten-password {
			float: right;
			@include rempx(margin-top, 8px);


			@include mangui-breakpoint(palm) {
				float: left;
				@include rempx(margin-top, 15px);
			}
		}