/**
 * Button object
 *
 * [1]	Core button object
 * [2]	Variants
 */


	 /**
	  * [1]	Core button object
	  */
	 

	 .o-button,
	 %o-button {
	 	border: 0;
	 	margin: 0;
	 	padding: 0;
	 	outline: 0;
	 	background: none;
	 	display: inline-block;
	 	@include mangui-transition(ease-in-out 350ms color, ease-in-out 350ms background);
	 }


		.o-button__icon--left {
			float: left;
			@include rempx(margin-right, $mangui-vertical-rhythm/5);
		}


		.o-button__icon--right {
			float: right;
			@include rempx(margin-left, $mangui-vertical-rhythm/5);
		}





	 /**
	  * [2]	Variants
	  *
	  * 	[a]	Button that just contains an icon
	  */
	 

		 /**
		  * [a]	Button that just contains an icon
		  */
		 

		.o-button--just-icon {
			.o-icon {
				float: left;
			}
		}