/**
 * Top level page styling
 *
 * This sets up the very basic typographical styles.
 */

td, th {
    border: 1px solid #CCC;
    padding: 5px 10px;
}

td {
    text-align: center;
}

th {
    font-weight: bold;
}

tbody th {
    text-align: left;
}

thead th,
tbody tr:nth-child(even) td,
tbody tr:nth-child(even) th {
    background-color: #FFF;
}





/**
 * Overflow
 */

.c-table-wrapper {
	overflow: auto;


	table {
		@include rempx(width, 700px);


        &.aligncenter {
            margin-left: auto;
            margin-right: auto;
        }
	}
}