/**
 * Theme specific list styling
 * 
 * [1]	Reduce gap from left edge of container to list start
 * [2]	Align the bullets to the left edge of the text
 */

/**
 * [1]	Reduce gap from left edge of container to list start
 */

dl,
ul,
ol {
	margin-left: 0;
	text-align: left;
}


/**
 * [2]	Align the bullets to the left edge of the text
 *
 * 		em used to make measurements relative to font-size of element
 */

ul,
ol {
	padding-left: 1.5em;
}


/**
 * [3]	Increase spacing between bullet points and text start
 *
 * 		em used to make measurements relative to font-size of element
 */

li {
	text-align: left;
	padding-left: 1.5em;
	padding-bottom: .5em;
}


/**
 * [4]	Increase spacing between <dl> list items
 */

dd {
	padding-bottom: 0.75em;
}