/**
 * Top level page styling
 *
 * This sets up the very basic typographical styles.
 */

html {
	color: $colour--type-default;
	background: $grey--lighter;
	line-height: 1.65; // unitless for scalability
	font-family: Droid Serif, Georgia, Times New Roman, Times, serif;
}


	body {
		@include rempx(font-size, 15px);
	}


	p {
		text-align: justify;
		@include mangui-breakpoint(portable) { text-align: left; }
	}