@charset "UTF-8";
/**
 * Import all of our sass files.
 *
 * Order is very important and must follow this pattern:
 *
 * [1]	Settings
 * [2]	Tools
 * [3]	Generic
 * [4]	Base
 * [5]	Objects
 * [6]	Components
 * [7]	Theme
 * [8]	Trumps
 * 
 */
/**
 * [1]	Settings
 *
 *   ÔÇó	Globally available settings and vars
 *   ÔÇó	Config switches
 *   ÔÇó	Brand colours
 *
 * 	$color-ui:		#BADA55;
 * 	$spacing-unit:	10px;
 */
/**
 * Theme settings
 *
 * [1]	Is this site responsive?
 * [2]	Sizes
 * [3]	Grid setup
 */
/**
 * [1]	Is the site responsive?
 *
 * [a]	Let's default to yes. If false, ignore the rest of this section
 * [b]	Are we building the site mobile first? If true, .grid__item(s) 
 * 		will be set to 100% width
 * [c]	Define whether we're going bigger than the default 960px grid
 */
/**
 * [2]	Sizes
 *
 * [a]	Let's define our breakpoints
 * [b]	What's the largest width our site will be?
 */
/**
 * [3]	Grid setup
 *
 * [a]	Comment should really go here
 * [b]	And here
 * [c]	And here...
 * [d]	I probably should comment this code?
 * [e]	Just added this one, maybe document it too?
 */
/**
 * Theme settings
 *
 * [1]	Let's override the default variables with $mangui- ones
 * 
 */
/**
 * [1]	Let's override the default variables with $mangui- ones
 *
 * 		[a]	CSS Wizardry Grids
 */
/**
 * [a] CSS Wizardry Grids
 */
/**
 * Fonts
 */
/**
 * Setting up default transition values
 *
 * [1]	Default transition duration
 */
/**
 * Breakpoints
 */
/**
 * Fonts
 */
@font-face {
  font-style: 100;
  font-family: 'Campton';
  src: url(../../fonts/campton/campton--extra-light.woff);
}
@font-face {
  font-style: 300;
  font-family: 'Campton';
  src: url(../../fonts/campton/campton--light.woff);
}
@font-face {
  font-style: 400;
  font-family: 'Campton';
  src: url(../../fonts/campton/campton--book.woff);
}
@font-face {
  font-style: 500;
  font-family: 'Campton';
  src: url(../../fonts/campton/campton--semibold.woff);
}
/**
 * [Settings] Load in our bespoke web fonts
 *
 * @category	Component
 * @package		scenic
 * @author		Andi North <andi@mangopear.co.uk>
 * @copyright	2017 Mangopear creative
 * @license   	GNU General Public License <http://opensource.org/licenses/gpl-license.php>
 * @since   	3.0.0
 * @version   	3.0.0
 */
/**
 * CONTENTS
 *
 * [1]	Set up @font-face
 */
/**
 * [1]	Set up @font-face
 *
 * 		[i]		Thin
 * 		[ii]	Extra Light
 * 		[iii]	Light
 * 		[iv]	Book
 * 		[v]		Medium
 * 		[vi]	Semi Bold
 * 		[vii]	Bold
 * 		[viii]	Extra Bold
 * 		[ix]	Black
 */
@font-face {
  font-style: normal;
  font-weight: 100;
  font-family: 'Campton';
  src: url("../../fonts/campton/thin.eot");
  src: local("Campton Thin"), local("Campton-Thin"), url("../../fonts/campton/thin.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/thin.woff2") format("woff2"), url("../../fonts/campton/thin.woff") format("woff"), url("../../fonts/campton/thin.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: 100;
  font-family: 'Campton';
  src: url("../../fonts/campton/thin--italic.eot");
  src: local("Campton Thin Italic"), local("Campton-ThinItalic"), url("../../fonts/campton/thin--italic.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/thin--italic.woff2") format("woff2"), url("../../fonts/campton/thin--italic.woff") format("woff"), url("../../fonts/campton/thin--italic.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: 'Campton';
  src: url("../../fonts/campton/extra-light.eot");
  src: local("Campton ExtraLight"), local("Campton-ExtraLight"), url("../../fonts/campton/extra-light.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/extra-light.woff2") format("woff2"), url("../../fonts/campton/extra-light.woff") format("woff"), url("../../fonts/campton/extra-light.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: 200;
  font-family: 'Campton';
  src: url("../../fonts/campton/extra-light--italic.eot");
  src: local("Campton ExtraLight Italic"), local("Campton-ExtraLightItalic"), url("../../fonts/campton/extra-light--italic.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/extra-light--italic.woff2") format("woff2"), url("../../fonts/campton/extra-light--italic.woff") format("woff"), url("../../fonts/campton/extra-light--italic.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: 'Campton';
  src: url("../../fonts/campton/light.eot");
  src: local("Campton Light"), local("Campton-Light"), url("../../fonts/campton/light.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/light.woff2") format("woff2"), url("../../fonts/campton/light.woff") format("woff"), url("../../fonts/campton/light.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: 300;
  font-family: 'Campton';
  src: url("../../fonts/campton/light--italic.eot");
  src: local("Campton Light Italic"), local("Campton-LightItalic"), url("../../fonts/campton/light--italic.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/light--italic.woff2") format("woff2"), url("../../fonts/campton/light--italic.woff") format("woff"), url("../../fonts/campton/light--italic.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Campton';
  src: url("../../fonts/campton/book.eot");
  src: local("Campton Book"), local("Campton-Book"), url("../../fonts/campton/book.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/book.woff2") format("woff2"), url("../../fonts/campton/book.woff") format("woff"), url("../../fonts/campton/book.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: 'Campton';
  src: url("../../fonts/campton/book--italic.eot");
  src: local("Campton Book Italic"), local("Campton-BookItalic"), url("../../fonts/campton/book--italic.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/book--italic.woff2") format("woff2"), url("../../fonts/campton/book--italic.woff") format("woff"), url("../../fonts/campton/book--italic.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'Campton';
  src: url("../../fonts/campton/medium.eot");
  src: local("Campton Medium"), local("Campton-Medium"), url("../../fonts/campton/medium.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/medium.woff2") format("woff2"), url("../../fonts/campton/medium.woff") format("woff"), url("../../fonts/campton/medium.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: 500;
  font-family: 'Campton';
  src: url("../../fonts/campton/medium--italic.eot");
  src: local("Campton Medium Italic"), local("Campton-MediumItalic"), url("../../fonts/campton/medium--italic.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/medium--italic.woff2") format("woff2"), url("../../fonts/campton/medium--italic.woff") format("woff"), url("../../fonts/campton/medium--italic.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Campton';
  src: url("../../fonts/campton/semi-bold.eot");
  src: local("Campton SemiBold"), local("Campton-SemiBold"), url("../../fonts/campton/semi-bold.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/semi-bold.woff2") format("woff2"), url("../../fonts/campton/semi-bold.woff") format("woff"), url("../../fonts/campton/semi-bold.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: 600;
  font-family: 'Campton';
  src: url("../../fonts/campton/semi-bold--italic.eot");
  src: local("Campton SemiBold Italic"), local("Campton-SemiBoldItalic"), url("../../fonts/campton/semi-bold--italic.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/semi-bold--italic.woff2") format("woff2"), url("../../fonts/campton/semi-bold--italic.woff") format("woff"), url("../../fonts/campton/semi-bold--italic.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Campton';
  src: url("../../fonts/campton/bold.eot");
  src: local("Campton Bold"), local("Campton-Bold"), url("../../fonts/campton/bold.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/bold.woff2") format("woff2"), url("../../fonts/campton/bold.woff") format("woff"), url("../../fonts/campton/bold.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: 'Campton';
  src: url("../../fonts/campton/bold--italic.eot");
  src: local("Campton Bold Italic"), local("Campton-BoldItalic"), url("../../fonts/campton/bold--italic.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/bold--italic.woff2") format("woff2"), url("../../fonts/campton/bold--italic.woff") format("woff"), url("../../fonts/campton/bold--italic.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: 'Campton';
  src: url("../../fonts/campton/extra-bold.eot");
  src: local("Campton ExtraBold"), local("Campton-ExtraBold"), url("../../fonts/campton/extra-bold.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/extra-bold.woff2") format("woff2"), url("../../fonts/campton/extra-bold.woff") format("woff"), url("../../fonts/campton/extra-bold.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: 800;
  font-family: 'Campton';
  src: url("../../fonts/campton/extra-bold--italic.eot");
  src: local("Campton ExtraBold Italic"), local("Campton-ExtraBoldItalic"), url("../../fonts/campton/extra-bold--italic.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/extra-bold--italic.woff2") format("woff2"), url("../../fonts/campton/extra-bold--italic.woff") format("woff"), url("../../fonts/campton/extra-bold--italic.ttf") format("truetype");
}
@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: 'Campton';
  src: url("../../fonts/campton/black.eot");
  src: local("Campton Black"), local("Campton-Black"), url("../../fonts/campton/black.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/black.woff2") format("woff2"), url("../../fonts/campton/black.woff") format("woff"), url("../../fonts/campton/black.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: 900;
  font-family: 'Campton';
  src: url("../../fonts/campton/black--italic.eot");
  src: local("Campton Black Italic"), local("Campton-BlackItalic"), url("../../fonts/campton/black--italic.eot#iefix") format("embedded-opentype"), url("../../fonts/campton/black--italic.woff2") format("woff2"), url("../../fonts/campton/black--italic.woff") format("woff"), url("../../fonts/campton/black--italic.ttf") format("truetype");
}
/**
 * Greys
 */
/**
 * Blues
 */
/**
 * Other colours
 */
/**
 * Brand colours
 */
/**
 * Friendly names for variables
 */
/**
 * Pod colours
 */
/**
 * [2]	Tools
 *
 *   ÔÇó	Globally available tools
 *   ÔÇó	Public mixins
 *   ÔÇó	Helper functions
 *
 *   	@mixin font-brand() {
 *   		font-family: "UI Font", sans-serif;
 *   		font-weight: 400;
 * 	}
 */
/**
 * animation mixin
 *
 * [USE] @include animation($animation-name $length $repeat $animation-type);
 */
/**
 * @keyframes mixin
 *
 * Common usage:
 *
 * @include mangui-keyframes($animation-name) {
 *     $percentage { $attribute: $value, $attribute: $value ... }
 *     $percentage { $attribute: $value, $attribute: $value ... }
 *     $percentage { $attribute: $value, $attribute: $value ... }
 * }
 */
/**
 * Animation delays
 */
/**
 * Animation delays
 */
/**
 * Animation iterations
 */
/**
 * Breakpoints, using our $mangui-breakpoints variable
 */
/**
 * This is where the magic happens...
 *
 * [a]	Name our mixins and pass a variable. The value of this variable can be either 
 * 		a value from the $mangui-breakpoints variable or a custom one, such as:
 * 			@include mangui-breakpoint(desk) { ... }
 * 			@include mangui-breakpoint("min-width: 401px) and (max-width: 480px") { ... }
 * [b]	Reset a variable required for our conditional statement to work
 * [c]	Loop through each breakpoint in $mangui-breakpoints
 * [d]	Get the 'name' and 'declaration' from each breakpoint
 * [e]	If the name of the breakpoint matches our mixin variable
 * [f]	Tell the variable we've found it, so it doesn't continue through the if()
 * [g]	Output our media query, using the breakpoint declaration and the content provided
 * 		within the @include
 * [h]	If $point did not match any of the breakpoints within $mangui-breakpoints
 * [i]	Create a media query using the value of $point
 */
/**
 * Example usage:
 */
/*

	@include mangui-breakpoint(desk) {
		.desk {
			display: none;
		}
	}

	@include mangui-breakpoint(lap) {
		.lap {
			display: none;
		}
	}

	@include mangui-breakpoint(portable) {
		.portable {
			display: none;
		}
	}

	@include mangui-breakpoint(palm) {
		.palm {
			display: none;
		}
	}

	@include mangui-breakpoint("min-width: 401px) and (max-width: 480px") {
		.custom {
			display: none;
		}
	}

 */
/**
 * SASS mixing for REM with fallback for IE8
 *
 * @since 0.1.0-alpha
 */
/**
 * Base font size (can be overwritten in /theme/)
 */
/**
 * [1] - The mixin relies on a function to parse the integer from a value with a unit
 * 
 * @param  {integer} $n
 * @return {integer}
 */
/**
 * [2] - We define a list of values for both units
 * [3] - We iterate through each value in the given parameter $values
 * [4] - If the value is either auto or 0, we append it to the list as-is
 * [5] - If the value as a unit, we split it to get the unit and the raw value
 * [6] - We append according values to the lists depending on the unit of the given value
 * [7] - We output the result
 */
/**
 * Usage
 */
/*
body {
	@include rem(font-size, 1.6rem);
}
*/
/**
 * Default transform mixin
 */
/**
 * Default transition mixins
 */
/**
 * Default transitions
 */
/**
 * Slightly lighten a colour
 */
/**
 * Slightly lighten a colour
 */
/**
 * [3]	Generic
 *
 *   ÔÇó	Ground zero styles
 *   ÔÇó	Low-specificity, far-reaching
 *   ÔÇó	Resets; normalize.css; etc...
 *
 *   	* {
 *   		-webkit-box-sizing: inherit;
 *   		   -moz-box-sizing: inherit;
 *   		        box-sizing: inherit;
 *   	}
 */
/**
 * [4]	Base
 *
 *   ÔÇó	Unclasses HTML elements
 *   ÔÇó	h1 - h6; basic links; lists; etc
 *   ÔÇó	Last layer we see type selectors [e.g. `blockquote {}` or `a {}`]
 *
 *   	ul {
 *   		list-style: square outside;
 *   	}
 */
/**
 * [5]	Objects
 *
 *   ÔÇó	OOCSS
 *   ÔÇó	Design patterns
 *   ÔÇó	No cosmetics
 *   ÔÇó Begin using classes, exclusively
 *   ÔÇó Agnostically named [e.g. `.o-list {}`]
 *
 *   	.ui-list {
 *   		margin: 0;
 *   		padding: 0;
 *   		list-style: none;
 *   	}
 *
 *
 * 		.ui-list__item {
 * 			padding: $spacing-unit;
 * 		}
 */
/**
 * [6]	Components
 *
 *   ÔÇó	Designed pieces of UI
 *   ÔÇó	Still only using classes
 *   ÔÇó	More explicitly named [i.e. `.c-products-list {}`]
 *
 *   	.c-products {
 *   		@include brand-font();
 *   		border-top: 1px solid $colour-ui;
 *   	}
 */
/**
 * [Component] Masthead > Header
 *
 * This is the graphic vs content area of the masthead. This replaces the old style header but both will
 * still be in use for some time to come.
 *
 * @category	Component
 * @package		hildon
 * @author		Andi North <andi@mangopear.co.uk>
 * @copyright	2017 Mangopear creative
 * @license   	GNU General Public License <http://opensource.org/licenses/gpl-license.php>
 * @since   	1.5.0
 * @version   	1.5.0
 */
/**
 * CONTENTS
 *
 * [1]	Masthead > Wrapper
 * [2]	Masthead > Graphic
 * [3]	[Content] Title
 * [4]	[Content] Content
 * [5]	[Content] Call to action
 */
/**
 * [1]	Masthead > Wrapper
 */
.c-masthead {
  background: #FFF;
  margin-top: 69px;
  margin-top: 4.3125rem;
}

.c-masthead__container {
  margin: 0 auto;
  max-width: 500px;
  max-width: 31.25rem;
}

.c-masthead__content {
  width: 40%;
}
@media (max-width: 1500px) {
  .c-masthead__content {
    width: 50%;
  }
}
@media (max-width: 1150px) {
  .c-masthead__content {
    width: 100%;
    padding-bottom: 40px;
    padding-bottom: 2.5rem;
  }
}

/**
 * [2]	Masthead > Graphic
 */
.c-masthead__graphic {
  background: #EEE;
  position: relative;
  width: 60%;
}
@media (max-width: 1500px) {
  .c-masthead__graphic {
    width: 50%;
  }
}
@media (max-width: 1150px) {
  .c-masthead__graphic {
    width: 100%;
    height: 90vh;
  }
}
@media (max-width: 1150px) {
  .c-masthead__graphic {
    height: 90vh;
  }
}
@media (max-width: 1030px) {
  .c-masthead__graphic {
    height: 75vh;
  }
}
@media (max-width: 1150px) {
  .c-masthead__graphic {
    max-height: 75vw;
    overflow: hidden;
    position: relative;
  }
  .c-masthead__graphic .c-masthead__image {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.c-masthead__graphic::before {
  content: '';
  display: block;
  padding-bottom: 80%;
}

.c-masthead__image {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

/**
 * [3]	[Content] Title
 */
.c-masthead__title {
  text-align: left;
  line-height: 1.2;
  font-family: Campton, Merriweather, sans-serif;
}
@media (max-width: 520px) {
  .c-masthead__title {
    padding: 0 20px;
    padding: 0 1.25rem;
  }
}
@media (max-width: 799px) {
  .c-masthead__title {
    margin: 40px 0 0;
    margin: 2.5rem 0 0;
  }
}
@media (max-width: 1150px) and (min-width: 800px) {
  .c-masthead__title {
    z-index: 1000;
    display: block;
    background: #FFF;
    position: relative;
    padding: 30px 50px 0;
    padding: 1.875rem 3.125rem 0;
    margin: -129px -50px 0;
    margin: -8.0625rem -3.125rem 0;
  }
}
.c-masthead__title::after {
  content: '';
  display: inline-block;
  border-bottom: 4px solid #EEE;
  width: 75px;
  width: 4.6875rem;
  margin: 45px 0 15px;
  margin: 2.8125rem 0 0.9375rem;
}
@media (max-width: 520px) {
  .c-masthead__title::after {
    margin: 40px 0 16px;
    margin: 2.5rem 0 1rem;
  }
}

.c-masthead__title-line--sub {
  z-index: 55;
  display: block;
  background: #FFF;
  color: #127b83;
  position: relative;
  display: inline-block;
  font-size: 36px;
  font-size: 2.25rem;
  padding-right: 25px;
  padding-right: 1.5625rem;
}
@media (max-width: 1500px) {
  .c-masthead__title-line--sub {
    font-size: 32px;
    font-size: 2rem;
  }
}
@media (max-width: 520px) {
  .c-masthead__title-line--sub {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.c-masthead__title-line--sub ~ .c-masthead__title-line--main::after {
  display: block;
}

.c-masthead__title-line--main {
  display: block;
  font-weight: bold;
  position: relative;
  color: #1cb6c3;
  font-size: 60px;
  font-size: 3.75rem;
}
@media (max-width: 1500px) {
  .c-masthead__title-line--main {
    font-size: 54px;
    font-size: 3.375rem;
  }
}
@media (max-width: 520px) {
  .c-masthead__title-line--main {
    font-size: 46px;
    font-size: 2.875rem;
  }
}
.c-masthead__title-line--main::after {
  right: 0;
  top: -20px;
  width: 100%;
  content: '';
  display: none;
  position: absolute;
  border-bottom: 2px solid #EEE;
}
@media (max-width: 520px) {
  .c-masthead__title-line--main::after {
    border-bottom-width: 1px;
    top: -16px;
    top: -1rem;
  }
}

/**
 * [4]	[Content] Content
 */
.c-masthead__intro {
  font-size: 1.2em;
  text-align: left;
  font-style: italic;
}
@media (max-width: 1500px) {
  .c-masthead__intro {
    font-size: 1.05em;
  }
}
@media (max-width: 520px) {
  .c-masthead__intro {
    padding: 0 20px;
    padding: 0 1.25rem;
  }
}
.c-masthead__intro p {
  text-align: left;
}

/**
 * [5]	[Content] Call to action
 */
.c-masthead__button {
  margin: 1em 0;
  font-size: 1.5em;
  font-family: Campton, Merriweather, sans-serif;
}
@media (max-width: 1500px) {
  .c-masthead__button {
    font-size: 1.25em;
  }
}
@media (max-width: 520px) {
  .c-masthead__button {
    margin-left: 20px;
    margin-left: 1.25rem;
  }
}
.c-masthead__button .o-button__content {
  position: relative;
}
.c-masthead__button .o-button__content::after {
  left: 0;
  right: 0;
  opacity: 0;
  content: '';
  bottom: -4px;
  position: absolute;
  border-bottom: 1px solid #129da9;
  -webkit-transition: ease-in-out opacity 350ms;
  transition: ease-in-out opacity 350ms;
}
.c-masthead__button .o-button__icon {
  color: #999999;
  border: 1px solid #BABABA;
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  border-radius: 30px;
  border-radius: 1.875rem;
  margin: 4px 0 0 15px;
  margin: 0.25rem 0 0 0.9375rem;
  -webkit-transition: ease-in-out color 350ms, ease-in-out border-color 350ms;
  transition: ease-in-out color 350ms, ease-in-out border-color 350ms;
}
@media (max-width: 1500px) {
  .c-masthead__button .o-button__icon {
    margin-top: 0;
    margin-top: 0;
  }
}
.c-masthead__button:hover, .c-masthead__button:active, .c-masthead__button:focus {
  color: #129da9;
}
.c-masthead__button:hover .o-button__content::after, .c-masthead__button:active .o-button__content::after, .c-masthead__button:focus .o-button__content::after {
  opacity: 0.5;
}
.c-masthead__button:hover .o-button__icon, .c-masthead__button:active .o-button__icon, .c-masthead__button:focus .o-button__icon {
  color: #129da9;
  border-color: #1cb6c3;
}

/**
 * [Component] Global > Big blockquotes
 *
 * A big, heavily stylised blockquote to be used in panels.
 *
 * @category	Component
 * @package		hildon
 * @author		Andi North <andi@mangopear.co.uk>
 * @copyright	2017 Mangopear creative
 * @license   	GNU General Public License <http://opensource.org/licenses/gpl-license.php>
 * @since   	1.6.0
 * @version   	1.6.0
 */
/**
 * CONTENTS
 *
 * [1]	Blockquote wrapper
 * [2]	Blockquote > Icons
 * [2]	Blockquote > Content
 * [2]	Blockquote > Footer
 */
/**
 * [1]	Blockquote wrapper
 */
.c-big-blockquote {
  margin: 0;
  color: #FFF;
  quotes: none;
  position: relative;
  background: #129da9;
  font-family: "Playfair Display", "Cinzel", "Droid Serif", Georgia, Times New Roman, Times, serif;
  background: -webkit-linear-gradient(-45deg, #129da9 0%, #2aadd8 100%);
  background: -webkit-linear-gradient(315deg, #129da9 0%, #2aadd8 100%);
  background: linear-gradient(135deg, #129da9 0%, #2aadd8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue--medium', endColorstr='#2aadd8',GradientType=1 );
  padding: 150px 40px 0;
  padding: 9.375rem 2.5rem 0;
}

/**
 * [2]	Blockquote > Icons
 */
.c-big-blockquote__icon {
  left: 0;
  right: 0;
  line-height: 1;
  display: block;
  font-weight: bold;
  position: absolute;
  text-align: center;
  font-style: normal;
  top: 25px;
  top: 1.5625rem;
  height: 125px;
  height: 7.8125rem;
  font-size: 200px;
  font-size: 12.5rem;
}

/**
 * [3]	Blockquote > Content
 */
.c-big-blockquote__content {
  margin: 0 auto;
  font-size: 1.35em;
  max-width: 500px;
  max-width: 31.25rem;
}
.c-big-blockquote__content p {
  text-align: center;
}

/**
 * [4]	Blockquote > Footer
 */
.c-big-blockquote__footer {
  text-align: center;
  margin: 40px 0 0;
  margin: 2.5rem 0 0;
  padding: 0 0 60px;
  padding: 0 0 3.75rem;
}
.c-big-blockquote__footer::before {
  content: '';
  text-align: center;
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  height: 5px;
  height: 0.3125rem;
  width: 125px;
  width: 7.8125rem;
  margin: 0 0 25px;
  margin: 0 0 1.5625rem;
}
.c-big-blockquote__footer p {
  margin: 0;
  font-size: 1.1em;
  text-align: center;
}

.c-big-blockquote__footer__location {
  font-size: 1.1em;
}

.c-big-blockquote__footer__name {
  font-size: 1.2em;
  font-weight: bold;
}

/**
 * [Component] Global > Header
 *
 * @category	Component
 * @package		prototypes
 * @author		Andi North <andi@mangopear.co.uk>
 * @copyright	2017 Mangopear creative
 * @license   	GNU General Public License <http://opensource.org/licenses/gpl-license.php>
 * @since   	3.0.0
 * @version   	3.0.0
 */
/**
 * CONTENTS
 *
 * [1]	Main header > Wrapper
 * [2]	Main header > Logo
 * [3]	Main header > Navigation
 * [4]	Notice bar
 */
/**
 * [1]	Main header > Wrapper
 *
 * 		@since 1.0.0
 */
.c-main-header {
  background: #129da9;
  font-family: Campton, Merriweather, sans-serif;
}

/**
 * [2]	Main header > Logo
 *
 * 		@since 1.0.0
 */
.c-main-header__logo {
  outline: 0;
  color: #FFF;
  display: inline-block;
  border-bottom: 5px solid transparent;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 17px 0 12px;
  padding: 1.0625rem 0 0.75rem;
  -webkit-transition: ease-in-out 350ms all;
  transition: ease-in-out 350ms all;
}
.c-main-header__logo:hover, .c-main-header__logo:active, .c-main-header__logo:focus {
  border-bottom-color: #36baca;
}
.c-main-header__logo:hover .c-main-header__logo-asset, .c-main-header__logo:active .c-main-header__logo-asset, .c-main-header__logo:focus .c-main-header__logo-asset {
  opacity: .7;
}

.c-main-header__logo-asset {
  -webkit-transition: ease-in-out 350ms all;
  transition: ease-in-out 350ms all;
}

/**
 * [3]	Main header > Navigation
 *
 * 		@since 1.0.0
 */
.c-main-header__nav .o-nav__list {
  text-align: right;
}
.c-main-header__nav .o-nav__item {
  padding-left: 40px;
  padding-left: 2.5rem;
}
.c-main-header__nav .o-nav__link {
  color: #FFF;
  font-weight: bold;
  border-bottom: 5px solid transparent;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 17px 0 12px;
  padding: 1.0625rem 0 0.75rem;
  -webkit-transition: ease-in-out 350ms all;
  transition: ease-in-out 350ms all;
}
.c-main-header__nav .o-nav__link:hover, .c-main-header__nav .o-nav__link:active, .c-main-header__nav .o-nav__link:focus {
  border-bottom-color: #36baca;
}

/**
 * [4]	Notice bar
 *
 * 		@since 1.0.0
 */
.c-header-notice {
  color: #999999;
  background: #BABABA;
  padding: 10px 0 5px;
  padding: 0.625rem 0 0.3125rem;
}
.c-header-notice--error {
  color: #FFFFFF;
  background: #c81212;
}
.c-header-notice--warning {
  color: #FFFFFF;
  background: #e5540d;
}
.c-header-notice--success {
  color: #FFFFFF;
  background: #089f64;
}

.c-header-notice__icon {
  vertical-align: top;
  display: inline-block;
}

.c-header-notice__content {
  vertical-align: top;
  display: inline-block;
  margin: 1px 0 0 15px;
  margin: 0.0625rem 0 0 0.9375rem;
}
.c-header-notice__content p {
  margin: 0;
}
.c-header-notice__content a {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip: ink edges box-decoration;
  -webkit-transition: ease-in-out 350ms all;
  transition: ease-in-out 350ms all;
}
.c-header-notice__content a:hover, .c-header-notice__content a:active, .c-header-notice__content a:focus {
  opacity: .7;
}

/**
 * [Component] Panel > Split panel
 *
 * This is a split panel, has two halves and would be used throughout various templates.
 * The splits can contain pretty much any element.
 *
 * @category	Component
 * @package		hildon
 * @author		Andi North <andi@mangopear.co.uk>
 * @copyright	2017 Mangopear creative
 * @license   	GNU General Public License <http://opensource.org/licenses/gpl-license.php>
 * @since   	1.6.0
 * @version   	1.6.0
 */
/**
 * CONTENTS
 *
 * [1]	Split panel > Wrapper
 * [2]	Blockquote > Icons
 * [2]	Blockquote > Content
 * [2]	Blockquote > Footer
 */
/**
 * [1]	Split panel > Wrapper
 */
/**
 * [3]	Blockquote > Content
 */
.c-split-panel__content {
  margin: 0 auto;
  font-size: 1.1em;
  max-width: 650px;
  max-width: 40.625rem;
  padding: 55px 20px;
  padding: 3.4375rem 1.25rem;
}

/**
 * [4]	Blockquote > Footer
 */
.c-big-blockquote__footer {
  text-align: center;
  margin: 40px 0 0;
  margin: 2.5rem 0 0;
  padding: 0 0 60px;
  padding: 0 0 3.75rem;
}
.c-big-blockquote__footer::before {
  content: '';
  text-align: center;
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  height: 5px;
  height: 0.3125rem;
  width: 125px;
  width: 7.8125rem;
  margin: 0 0 25px;
  margin: 0 0 1.5625rem;
}
.c-big-blockquote__footer p {
  margin: 0;
  font-size: 1.1em;
  text-align: center;
}

.c-big-blockquote__footer__location {
  font-size: 1.1em;
}

.c-big-blockquote__footer__name {
  font-size: 1.2em;
  font-weight: bold;
}

/**
 * [Component] Tiny components > Faux checkbox
 *
 * This is a simple component that provides a stylised checkbox for the website - complete with animations.
 *
 * @category	Component
 * @package		hildon
 * @author		Andi North <andi@mangopear.co.uk>
 * @copyright	2017 Mangopear creative
 * @license   	GNU General Public License <http://opensource.org/licenses/gpl-license.php>
 * @since   	1.7.0.alpha-1
 * @version   	1.7.0.alpha-1
 */
/**
 * CONTENTS
 *
 * [1]	Faux check > Wrapper
 * [2]	Faux check > Input
 * [3]	Faux check > Label
 * [4]	Faux check > Our field
 * [5]	Faux check > Form field label
 */
/**
 * [1]	Faux check > Wrapper
 *
 * 		Outer wrapper for component
 *
 * 		@since 1.7.0.alpha-1
 */
.c-faux-check {
  cursor: pointer;
}

/**
 * [2]	Faux check > Input
 *
 * 		This element will be the actual form input element. As it's wrapped
 * 		in a <label> and replaced by our bespoke checkbox item we need to hide it.
 *
 * 		@since 1.7.0.alpha-1
 *
 * 		[a]	When checkbox is checked
 * 		[b]	Change colours of field
 * 		[c]	Animate the tick asset
 */
.c-faux-check__input:checked + .c-faux-check__label .c-faux-check__field {
  border-color: #089f64;
}
.c-faux-check__input:checked + .c-faux-check__label .c-faux-check__field__asset {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.c-faux-check__input:focus + .c-faux-check__label .c-faux-check__field {
  border-color: #089f64;
  box-shadow: 0 0 0 3px rgba(16, 182, 117, 0.25);
}

/**
 * [3]	Faux check > Label
 *
 * 		@since 1.7.0.alpha-1
 */
.c-faux-check__label {
  padding: 0;
}

/**
 * [4]	Faux check > Our field
 *
 * 		This is our replacement for the default field and is highly stylised.
 *
 * 		@since 1.7.0.alpha-1
 *
 * 		[a]	Important for the positioning of animations
 */
.c-faux-check__field {
  background: #FFF;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  border: 2px solid #999999;
  box-shadow: 0 0 0 3px transparent;
  width: 22px;
  width: 1.375rem;
  height: 22px;
  height: 1.375rem;
  -webkit-transition: ease-in-out 350ms all;
  transition: ease-in-out 350ms all;
}

.c-faux-check__field__asset {
  opacity: 0;
  color: #10b675;
  position: absolute;
  top: -9px;
  top: -0.5625rem;
  left: -1px;
  left: -0.0625rem;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 30% 60%;
  -ms-transform-origin: 30% 60%;
  transform-origin: 30% 60%;
  -webkit-transition: ease-in-out 350ms all;
  transition: ease-in-out 350ms all;
}

/**
 * [5]	Faux check > Form field label
 *
 * 		This is the label for our checkbox field.
 *
 * 		@since 1.7.0.alpha-1
 */
.c-faux-check__label__text {
  vertical-align: top;
  display: inline-block;
  width: -webkit-calc(100% - 1.625rem);
  width: calc(100% - 1.625rem);
  line-height: 22px;
  line-height: 1.375rem;
  padding: 1px 20px 0 10px;
  padding: 0.0625rem 1.25rem 0 0.625rem;
}

/**
 * [7]	Themes
 *
 *   ÔÇó	Styles that are specific to this usage
 *   ÔÇó	Colour variations
 *   ÔÇó	Styling differences
 *
 *   	.c-button--primary {
 *   		color: $color--highlight;
 *   		font-weight: bold;
 *   	}
 */
/**
 * [8]	Trumps
 *
 *   ÔÇó	Overrides; helpers; utilities
 *   ÔÇó	Only affect one piece of the DOM at any time
 *   ÔÇó	Usually carry `!important`
 *
 *   	.bold {
 *   		font-weight: bold !important;
 *   	}
 */
